/*
 Name: Chula
 Description: Template สำหรับเว็บไซต์โรคไต จุฬา
 Author: Goragod.com
 Author URI: http://www.goragod.com
 */
body {
	background-color: #EEE;
	color: #666;
}
a {
	color: #000;
}
a:hover {
	color: #06AFE4;
}
.gcss-wrapper {
	background-color: #FFF;
}
.wrapper_top_bg {
	padding: 10px;
}
.header_bg {
	background-image: url(img/head_bg.jpg);
	height: 207px;
	position: relative;
	display: inline-block;
	width: 100%;
}
#logo h1, #logo p.description {
	color: transparent;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.languages {
	position: absolute;
	top: 10px;
	right: 10px;
}
.menu_wrapper {
	margin: 120px 0 0 0;
	color: #603913;
	font-size: 1.3em;
}
.topmenu > ul > li > a > span {
	padding: 30px 20px;
	border-width: 1px;
	border-style: none solid;
	border-left-color: rgba(255,255,255,0.7);
	border-right-color: rgba(0,0,0,0.04);
}
.topmenu > ul > li:first-child > a > span {
	border-left-style: none;
}
.topmenu > ul > li:hover > a, .topmenu > ul > li.select > a {
	text-decoration: underline
}
.slideshow {
	position: relative;
}
.slideshow .sidemenu {
	position: absolute;
	left: 10px;
	top: 40px;
	z-index: 1;
}
.sidemenu ul > li {
	background-color: #a3620a;
	background-color: rgba(163, 98, 32, 0.7);
	color: #EEE;
	margin-bottom: 2px;
}
.sidemenu ul > li:hover > a {
	background-color: #a3620a;
	color: #FFF;
}
.widget.sidemenu header {
	display: none;
}
.image1 a {
	display: block;
	margin-bottom: 10px;
	text-align: center;
}
.image2 {
	margin-top: 20px;
}
.image2 a {
	width: 50%;
	display: inline-block;
}
.footer_bg_color {
	background-color: #fff0ca;
	border-bottom: 5px solid #b08849;
	color: #b08849;
	padding: 10px;
}
#text-links {
	padding: 10px;
}
.homepage .next {
	margin: 0 0 10px 0;
	padding: 0 5px 5px;
}
.homepage .knowledge .next {
	border-bottom: 3px solid #875104;
}
.homepage .next a {
	color: #d2810e;
}
.document-list .thumbview .topic {
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 !important;
	width: 100%;
	display: inline-block;
}
.document-list .thumbview .icon, .document-list .thumbview .topic:after {
	display: none;
}
.document-list .thumbview .description {
	height: 5em;
	overflow: hidden;
}
#comment-list .reaction {
	text-align: right;
}
form fieldset > legend {
	padding: 5px;
	background-color: #EEE;
	font-weight: bold;
}
#comment-list .r {
	margin-bottom: 10px;
}
#comment-list .reaction, #document-view .reaction, #board-view .reaction {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #fff9eb;
}
.breadcrumbs {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #fff9eb;
	color: #b08849;
	text-shadow: -1px -1px 0 #FFF;
}
#comment-list .reaction {
	border-color: #B7DEFF;
	background-color: #E5F3FF;
}
header h2, .login .head {
	color: #333;
	padding: 3px 5px;
	font-size: 1.4em;
	border-bottom: 3px solid #d0a260;
}
.homepage header {
	margin-bottom: 5px;
}
.memberfrm a {
	display: block;
	line-height: 1.7em;
}
#GModal_modaldiv > .modaldiv form {
	padding: 10px;
	background-color: #FFF;
}
form dl.info {
	background-color: #F5F5F5;
	border: 1px dashed #EEE;
	margin: 5px 0;
	padding: 10px;
}