#newsmarquee_containner {
	overflow: hidden;
	position: relative;
	height: 2em;
	line-height: 2em;
}
#newsmarquee_scroller {
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
}
#newsmarquee_scroller ul {
	padding: 0;
}
#newsmarquee_scroller li {
	display: inline-block;
	margin-left: 10px;
}
#newsmarquee_scroller li:before {
	color: #C60;
}